<div class="text-2xl p-2 mb-2 border rounded-md border-solid border-blue-200" >
  {{#if isEditing}}
    <div>
      <input type="text"
             class="block w-full text-gray-800" 
             value={{ @value }} 
             onblur={{action submit}}
             {{did-insert this.focus}}/>
    </div>
  {{else}}
    <div onclick={{action startEditing}}>
      {{ @value }}
    </div>
  {{/if}}
</div>

