<div class="row">
  <div class="col-sm-12">
    <h4>Creature</h4>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Name</h5>
  </div>
  <div class="col-sm-9">
    {{input value=model.name classNames="form-control"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Description</h5>
  </div>
  <div class="col-sm-9">
    {{textarea value=model.description classNames="form-control"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Constitution</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.constitution type="number" classNames="form-control"}}
  </div>
  <div class="col-sm-3">
    <h5 class="text-right">Life Force</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.lifeForce type="number" classNames="form-control"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Wisdom</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.wisdom type="number" classNames="form-control"}}
  </div>
  <div class="col-sm-3">
    <h5 class="text-right">Power</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.power type="number" classNames="form-control"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Strength</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.strength type="number" classNames="form-control"}}
  </div>
  <div class="col-sm-3">
    <h5 class="text-right">Size</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.size type="number" classNames="form-control"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Dexterity</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.dexterity type="number" classNames="form-control"}}
  </div>
  <div class="col-sm-3">
    <h5 class="text-right">Armor Skill</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.armorSkill type="number" classNames="form-control"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Missile Skill</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.missileSkill type="number" classNames="form-control"}}
  </div>
  <div class="col-sm-3">
    <h5 class="text-right">Dodge Skill</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.dodgeSkill type="number" classNames="form-control"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Melee Skill</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.meleeSkill type="number" classNames="form-control"}}
  </div>
  <div class="col-sm-3">
    <h5 class="text-right">Parry Skill</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.parrySkill type="number" classNames="form-control"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Defense</h5>
  </div>
  <div class="col-sm-9">
    {{input value=model.magicalDefense classNames="form-control"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <h5 class="text-right">Strategy</h5>
  </div>
  <div class="col-sm-3">
    {{input value=model.personality classNames="form-control"}}
  </div>
  <div class="col-sm-3">
    {{input value=model.outlook classNames="form-control"}}
  </div>
  <div class="col-sm-3">
    {{input value=model.alliance classNames="form-control"}}
  </div>
</div>

{{yield}}
