<label class="text-sm pb-0 mb-0">Title</label>
<EditableField @value={{ this.adventure.name }}
               @onUpdate={{ fn this.updateValue 'name' }}/>

<label class="text-sm pb-0 mb-0">Description</label>
<EditableArea @value={{ this.adventure.descr }}
              @onUpdate={{ fn this.updateValue 'descr' }}/>

<label class="text-sm pb-0 mb-0">Introduction</label>
<EditableArea @value={{ this.adventure.intro }}
              @onUpdate={{ fn this.updateValue 'intro' }}/>
